.widgetSm{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);    
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetsSmList{
    width: 100%;
    border-spacing: 20px;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px
}
.widgetSmTh{
    text-align: left;
}

.widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetSmUser{
    font-weight: 500;
}


.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 237, 234);
    color: rgb(59, 59, 59);
    padding: 7px 10px;
    cursor: pointer;
}

.widgetSmIcon{
    font-size: 20px !important;
    margin-right: 5px;
}